{% extends 'base.html.twig' %}

{% block title %}
	Edition de
	{{product.name}}
{% endblock %}

{% block body %}
	<h1>Editer le produit
		{{product.name}}</h1>

	{{ form_start(formView) }}
	<div class="row">
		<div class="col">
			<div class="mb-3">
				{{ form_label(formView.name) }}
				{{ form_errors(formView.name) }}
				{{ form_widget(formView.name) }}
			</div>
			<div class="mb-3">
				{{ form_label(formView.price) }}
				{{ form_errors(formView.price) }}
				{{ form_widget(formView.price) }}
			</div>
		</div>
		<div class="col">
			<div class="mb-3">
				{{ form_label(formView.mainPicture) }}
				{{ form_errors(formView.mainPicture) }}
				{{ form_widget(formView.mainPicture) }}
			</div>

			<div class="mb-3">
				{{form_row(formView.category)}}
			</div>

			<div class="mb-3">
				{{ form_label(formView.shortDescription) }}
				{{ form_errors(formView.shortDescription) }}
				{{ form_widget(formView.shortDescription) }}
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Modifier le produit
	</button>
	{{ form_end(formView) }}
{% endblock %}
